h1{
    font-family: 'Adamina', serif;
    font-weight: lighter;
    color:blue;
    font-size: 120px;
    text-align: center;

}
.image{
    width: 45vw;
    height: 500px;
    opacity: 1;
    transition: all 250ms ease;
    object-fit: cover;
}
.image:hover{
    opacity: 0;
}
.absolute{
    position: absolute;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.relative{
    position: relative;
}
.illustration{
    width: 45vw;
    height: 500px;
    display: block;
    margin-bottom: 30px;

}
div{
    padding: auto;
}